
Projek1/is_it_ok.sh

Projek1/jexamxml.jar

Projek1/test.php

Projek1/options

Projek1/test.IPPcode23

Projek1/tests/basic/

Projek1/tests/bool/

Projek1/tests/call/

Projek1/tests/defvar/

Projek1/tests/GENERATED/add/

Projek1/tests/GENERATED/and/

Projek1/tests/GENERATED/break/

Projek1/tests/string/

Projek1/tests/createFrame/

Projek1/tests/GENERATED/concat/

Projek1/tests/GENERATED/dprint/

Projek1/tests/GENERATED/eq/

Projek1/tests/GENERATED/exit/

Projek1/tests/GENERATED/getchar/

Projek1/tests/label/

Projek1/tests/move/

Projek1/tests/nil/

Projek1/tests/opcode/

Projek1/tests/pops/

Projek1/tests/pushFrame/

Projek1/tests/pushs/

Projek1/tests/return/

Projek1/tests/popFrame/

Projek1/tests/GENERATED/lt/

Projek1/tests/GENERATED/mul/

Projek1/tests/GENERATED/or/

Projek1/tests/GENERATED/setchar/

Projek1/tests/GENERATED/stri2int/

Projek1/tests/GENERATED/strlen/

Projek1/tests/GENERATED/sub/

Projek1/tests/GENERATED/type/

Projek1/tests/int/

Projek1/tests/GENERATED/gt/

Projek1/tests/GENERATED/idiv/

Projek1/tests/GENERATED/jumpifeq/

Projek1/tests/GENERATED/jumpifneq/

Projek1/tests/GENERATED/not/

Projek1/tests/GENERATED/read/

Projek1/tests/header/

Projek1/tests/GENERATED/int2char/

Projek1/tests/GENERATED/write/

Projek1/tests/GENERATED/jump/

Projek1/xspirk01.zip

Projek1/IPP_Predstaveni_projektu_2023.pdf

Projekt2/write_test.src

Projekt2/tests2/ipp-2023-tests/both/

Projekt2/tests2/ipp-2023-tests/parse-only/

Projekt2/tests2/ipp-2023-tests/koule/

Projekt2/tests2/ipp-2023-tests/interpret-only/

Projekt2/tests/

Projekt2/tests3/
